* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.cor {
    background-color: rgb(12, 9, 221);
    border-radius: 5px 0 0 5px;
    box-shadow: -1px 0 3px 0 rgb(12, 9, 221);
    box-shadow: 0 5px 0 rgba(3, 2, 88, 0.445);
    /*5px tem que ter o mesmo valor de top no :active*/
}

.cor1 {
    background-color: rgba(238, 141, 230, 0.534);
    border-radius: 0 5px 5px 0;
    box-shadow: 3px 0 3px 0 rgba(238, 141, 230, 0.534);
    box-shadow: 0 5px 0 rgba(235, 96, 223, 0.527);
    /*5px tem que ter o mesmo valor de top no :active*/
}

.cor,
.cor1 {
    margin: -2px;
    padding: 3px 5px;
    margin-top: 20px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.cor:active,
.cor1:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.cor:hover {
    color: rgb(10, 240, 240);
}

.cor1:hover {
    color: rgb(243, 9, 227);
}

body {
    background: linear-gradient(to bottom, rgba(191, 223, 250, 0.658), rgba(250, 191, 245, 0.658));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    animation: fadeIn 1s ease-in;
    /* Efeito de entrada */
}

@keyframes fadeIn {

    /* Define a animação que controla o efeito de entrada, ajustando a opacidade e a posição inicial do conteúdo.*/
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1s;
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 1.5s ease;
    /*Transição Suave Entre os Inputs* Legalzinha*/
}

input:focus {
    border-color: #6a11cb;
}

.cadastrar {
    padding: 12px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cadastrar:hover {
    background-color: #2575fc;
}