.cor {
    background-color: rgb(12, 9, 221);
    margin-right: -4px;
    border-radius: 5px 0 0 5px;
    box-shadow: -1px 0 3px 0 rgb(12, 9, 221);
    box-shadow: 0 5px 0 rgba(3, 2, 88, 0.445);
    /*5px tem que ter o mesmo valor de top no :active*/
}

.cor1 {
    background-color: rgba(238, 141, 230, 0.534);
    border-radius: 0 5px 5px 0;
    box-shadow: 3px 0 3px 0 rgba(238, 141, 230, 0.534);
    box-shadow: 0 5px rgba(235, 96, 223, 0.527);
    /*5px tem que ter o mesmo valor de top no :active*/
}

.cor,
.cor1 {
    padding: 3px 5px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-block;
}

.cor:active,
.cor1:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.cor:hover {
    color: rgb(10, 240, 240);
}

.cor1:hover {
    color: rgb(243, 9, 227);
}

.input, .numProtocolo{
    text-align: center;
    border: none;
    background: none;
    font-size: medium;
    width: 200px;
}

.numProtocolo::placeholder,
.input::placeholder {
    color: black;
}

body {
    background: linear-gradient(to bottom, rgba(191, 223, 250, 0.658), rgba(250, 191, 245, 0.658));
    background-attachment: fixed;
    height: 125vh;
}

.titulo {
    text-align: center;
    color: brown;
    padding-bottom: 40px;
    margin-top: 10px;
}

.formulario {
    text-align: center;
}

.ul1 {
    display: flex;
    background-color: rgba(51, 3, 105, 0.582);
    color: white;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 7px;
    list-style: none;
}

.li1 {
    list-style: none;
    text-align: center;
    width: 10%;
    margin-top: -5px;
    margin-bottom: -5px;
}

.ul2 {
    display: flex;
    list-style: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

.li2 {
    list-style: none;
    text-align: center;
    width: 10%;
    margin-top: -20px;
    margin-bottom: -20px;
}

.baixarIMG {
    background-color: rgba(240, 216, 216, 0.514);
    border: none;
    margin-left: 37%;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
}

.baixar,
.sair {
    background-color: rgba(22, 1, 1, 0);
    border: none;
    color: rgb(247, 247, 247);
}

.baixar:hover,
.baixarIMG:hover,
.sair:hover {
    color: #f5f253;
    cursor: pointer;
}

.hr {
    margin: 10px;
}

.tipagem {
    color: white;
    margin-top: -3px;
    margin-bottom: -3px;
    width: 10%;
    text-align: center;
}

.tipagem1 {
    color: white;
    margin-top: -3px;
    margin-bottom: -3px;
    width: 30%;
    text-align: center;

}

.tipagem2 {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 10%;
    text-align: center;

}

.tipagem3 {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 30%;
    text-align: center;

}

.tipagem4 {
    margin-top: -20px;
    margin-bottom: -20px;
    width: 30%;
    text-align: center;

}

.previsao {
    margin-top: -17px;
}

.parto {
    list-style: none;
}

.diaMenstruacao,
.mesMenstruacao {
    border-radius: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    width: 35px;
    padding: 5px;
    margin: 4px;
    border-color: rgba(137, 43, 226, 0.349);
}

.anoMenstruacao {
    border-radius: 7px;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-right: 20px;
    width: 50px;
    padding: 5px;
    margin: 4px;
    border-color: rgba(137, 43, 226, 0.349);
}

.diaMenstruacao:hover,
.mesMenstruacao:hover,
.anoMenstruacao:hover {
    color: rgb(0, 190, 0);
    border-color: rgba(2, 175, 54, 0.603);
}

.p {
    margin-bottom: -25px;
    margin-top: -20px;
    margin-left: 15px;
}

.div1 {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 35px;
}

.div2 {
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 2%;
}

.janela1,
.janela2 {
    width: auto;
    height: auto;
    /* overflow-x: auto; Barra de rolagem horizontal aparecerá automaticamente se necessário */
}

.conteudo1,
.conteudo2 {
    width: 100%;
}

/* .conteudo1,
.ul1,
.ul2,
hr,
.onoff,
.onoff1 {
    animation: fadeIn 0.7s ease-in;  Efeito de entrada 
}  */

@keyframes fadeIn {

    /* Define a animação que controla o efeito de entrada, ajustando a opacidade e a posição inicial do conteúdo. */
    from {
        opacity: 3s;
        transform: translateY(-100%);
    }

    to {
        opacity: 1s;
    }
}

.onoff input.toggle {
    /*toggle é usado para alterar dois estados (mosntrar ou ocultar / sim ou não / ativar ou desativar)*/
    display: none;
}

.onoff input.toggle+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    background-color: white;
    height: 13px;
    width: 30px;
    border-radius: 30px;
    margin-left: 473px;
    margin-top: 20px;
}

.onoff input.toggle+label:before {
    content: "";
    display: block;
    height: 12px;
    width: 0px;
    border-radius: 30px;
    background: #13bf11;
    transition: 0.2s ease-in-out;
}

.onoff input.toggle+label:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 0;
    left: 0px;
    border-radius: 30px;
    background: #d1f5a1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.onoff input.toggle:checked+label:before {
    width: 30px;
}

.onoff input.toggle:checked+label:after {
    left: 17px;
}

.onoff1 input.toggle {
    display: none;
}

.onoff1 input.toggle+label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 0px 1px #d5d5d5;
    background-color: white;
    height: 13px;
    width: 30px;
    border-radius: 30px;
    margin-left: 290px;
    margin-top: 30px;
}

.onoff1 input.toggle+label:before {
    content: "";
    display: block;
    height: 12px;
    width: 0px;
    border-radius: 30px;
    background: #13bf11;
    transition: 0.2s ease-in-out;
}

.onoff1 input.toggle+label:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    top: 0;
    left: 0px;
    border-radius: 30px;
    background: #d1f5a1;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.2s ease-in-out;
}

.onoff1 input.toggle:checked+label:before {
    width: 30px;
}

.onoff1 input.toggle:checked+label:after {
    left: 17px;
}
